<div class="control-group cm-no-hide-input">
    <label class="control-label" for="elm_product_warranty">{__("warranty")}:</label>
    <div class="controls">
        <textarea id="elm_product_warranty" name="product_data[warranty]" cols="55" rows="8" class="cm-wysiwyg input-large">{$product_data.warranty}</textarea>
    </div>
</div>

