{assign var="obj_prefix" value="`$block.block_id`000"}

{if $block.properties.outside_navigation == "Y"}
    <div class="owl-theme ty-owl-controls">
        <div class="owl-controls clickable owl-controls-outside"  id="owl_outside_nav_{$block.block_id}">
            <div class="owl-buttons">
                <div id="owl_prev_{$obj_prefix}" class="owl-prev"><i class="ty-icon-left-open-thin"></i></div>
                <div id="owl_next_{$obj_prefix}" class="owl-next"><i class="ty-icon-right-open-thin"></i></div>
            </div>
        </div>
    </div>
{/if}

<div id="scroll_list_{$block.block_id}" class="owl-carousel ty-scroller-list">
    {foreach from=$staff_data item="staff" name="for_staff"}
        <div class="ty-scroller-list__item">
            {assign var="obj_id" value="scr_`$block.block_id`000`$product.product_id`"}
            <div class="ty-scroller-list__img-block">
                {include file="common/image.tpl" images=$staff.main_pair}
            </div>
		    <h4>{$staff.first_name} {$staff.last_name}</h4>
		    <p id="for_email"><a class="cm-ajax cm-post" rev="azaza" href='{"staff.manage"|fn_url}'>Показать email</a></p>
		    		    
            <form class="cm-ajax" action='{"staff.manage"|fn_url}' method="get" name="azaza_form">
                <input type="hidden" name="result_ids" value="azaza" />                    
                <input id="button_the" type="submit" name="dispatch[staff.manage]" value="Show the F*** email" />
            </form>		    
		    
		    <div id="azaza"></div>
		    <p>{$staff.function}</p>       
        </div>
    {/foreach}
</div>

{include file="common/scroller_init.tpl" prev_selector="#owl_prev_`$obj_prefix`" next_selector="#owl_next_`$obj_prefix`"}


<div id="div_step_1">
<form action='{"staff.get_email"|fn_url}' method="post" name="form_step_1" class="cm-ajax">
<input type="hidden" name="result_ids" value="div_step_2" />
<input type="hidden" name="step" value="step_1" />
<input type="submit" value="Next" name="dispatch[staff.get_email]">
</form>
</div>
<h1 class="tab-list-title">Step 2</h1>
<div id="div_step_2"></div>


<a class="cm-ajax" data-ca-target-id="div_step_2" href='{"staff.get_email"|fn_url}'><i class="icon-cancel-circle"></i>Аяйяйяйяйякс</a>







<input id="enable_block_1" type="checkbox" name="enable_block_1" value="Y" onclick="$.ceAjax(‘request’, '{$index_script}?dispatch=block_manager.enable_disable&amp;block_id=1&amp;enable=' + (this.checked ? this.value : 'N'), {literal}{method: 'POST', cache: false}{/literal});" />




