
.team-slide{
    float:left;
    width:100%;
    position: relative;
    margin-top:20px;
}
.team-slide ul{
    padding:0px;
}
.team-slide li{
    text-align: center;
}
.team-slide h4{
    padding-top:10px;
    padding-bottom: 0px;
    
}
.team-slide .bx-next{
    top:110px;
    right:-40px;
}
.team-slide .bx-prev{
    top:110px;
    left:-40px;
}
.owl-pagination{
    position: absolute;
    bottom: 20px;
    left:50%;
    margin-left:-30px;
    text-align: center;
}
.owl-pagination .owl-page{
    width:12px;
    height:12px;
    background-color:#a9b0b4;
    border-radius: 6px;
    float:left;
    margin-left:14px;
    
}
.owl-pagination .active{
    background-color: #dc2430;
}
.name {
    line-height: 1em;
    padding-top: 20px;
}
.name h4{
    font-weight: 700;

}
.team-slide ul li{
    list-style: none;
}
.team-slide ul li img{
    max-width: 100%;
}